@import url(../../../styles/variables.css);

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: var(--text-gap);
  width: 100%;
}
