@import url(../../styles/variables.css);

.main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  border-bottom: 1px solid var(--secondary-color);
  padding: var(--padding-s);
  gap: 5rem;
}

.pageLinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  row-gap: 0.5rem;
}

.pageLinks > a {
  color: var(--secondary-color);
}

.copyright {
  background-color: black;
  padding: var(--padding-s);
}

.copyright > p {
  text-align: center;
  color: white;
}

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media > h3 {
  color: var(--secondary-color);
}

.wrapper {
  display: flex;
  gap: var(--text-gap);
}

.wrapper > a {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 1ch;
  gap: var(--text-gap);
}

.wrapper > a > img {
  width: 50px;
}

@media (max-width: 1080px) {
  .pageLinks {
    grid-template-columns: repeat(2, 1fr);
  }
}
