@import url(../../styles/variables.css);

.navbar {
  display: inline-flex;
  background-color: var(--main-color);
  padding: var(--nav-padding);
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.4);

  /* position: fixed;
  width: 100%;
  z-index: 1; */
}

.logo {
  display: inline-flex;
  width: fit-content;
}

.logo > img {
  width: var(--text-size-l);
}

.logo > h2,
.links > a {
  color: var(--secondary-color);
}

.logo > h2,
.links > a {
  color: var(--secondary-color);
  font-size: var(--text-size-l);
}

.links {
  display: inline-flex;
  align-items: center;
  gap: var(--text-gap);
  width: fit-content;
}

.links > a:first-child {
  padding-right: var(--text-gap);
  border-right: 2px solid var(--secondary-color);
}
