@import url(../../../styles/variables.css);

.reviews {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--accent-color);
  gap: var(--component-padding);
  padding: var(--component-padding);
  width: 100%;
  justify-content: center;
}

.reviewsEntry {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  padding: var(--padding-s);
  border-radius: var(--round-box);
  min-height: 250px;
  max-width: 280px;
  text-align: center;
  gap: var(--text-gap);
}

.reviewsEntry > img {
  width: 100px;
  border-radius: var(--round);
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.7);
  border: 2px solid var(--secondary-color);
}
