.modal {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  position: relative;
}

.focus {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #00000060;
  /* Gimmick to make it span under scroll*/
  box-shadow: 0 0 1000px 1000px #00000060;
  align-items: center;
  justify-content: center;
}
