.modal {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  background-color: var(--secondary-color);
  border-radius: var(--round-box);
}

.focus {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000060;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.modal > button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  width: 35px;
  height: 35px;
  border-radius: var(--round);
  margin-top: var(--padding-s);
  margin-right: var(--padding-s);
}

.modal > p {
  margin: var(--padding-s);
  font-size: var(--text-size-m);
  font-weight: bold;
}
